#frameFEHEWB {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_3 {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_3 .dxb_bc {
    margin: 0px !important;
}

#frameZ1NsFj {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_4 {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_4 .dxb_bc {
    margin: 0px !important;
}

#frametu24ED {
    border: #000000 0px !important;
    margin-top: -1px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

#portal_block_5 {
    border: #000000 0px !important;
    margin: 0px !important;
}

#portal_block_5 .dxb_bc {
    margin: 0px !important;
}

#frameR707nU {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_6 {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_6 .dxb_bc {
    margin: 0px !important;
}

#frameuI0I60 {
    border: 0px !important;
    margin: 0px !important;
}

#portal_block_7 {
    margin: 0px !important;
}

#portal_block_7 .dxb_bc {
    margin: 0px !important;
}